.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.robinhood_logo {
    margin-left: 40px;
    height: 20px;
    width: 20px;
}

.search_container{
    display: flex;
    align-items: center;
}

.menu_items a{
    color: white;
    text-decoration: none;
    padding: 2px;
}
a:hover{
    color: green;
}